:root {
  --color-bg: #272932;
  --color-one: #4D7EA8;
  --color-two: #828489;
  --color-three: #9E90A2;
  --color-four: #B6C2D9;

  --border-radius: 16px;
}

/* GLOBAL */

body {
background-color: black;
display: grid;
justify-items: center;
  overflow-x: auto;
}

footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 50px;
  text-align: center;
  font-size: 12px;
  font-family: 'Chelsea Market', cursive;
  color: black;
}

h1 {
  text-align: center;
  font-size: 48px;
  font-family: 'Chelsea Market', cursive;
  color: black;
}

h2 {
  text-align: center;
  font-size: 28px;
  font-family: 'Chelsea Market', cursive;
  color: black;
}

h3 {
  text-align: center;
  font-size: 24px;
  font-family: 'Chelsea Market', cursive;
  color: black;
}

h4 {
  font-size: 20px;
  font-family: 'Chelsea Market', cursive;
  color: black;
}

#sectionHeading {
  height: 32px;
}

#mainBackground {
  width: 960px;
  height: 540px;
  background-image: url("../images/background/day.png");
 }

#buttonDisplay {
  display: flex;
  justify-content: center;
}

.button_256px {
  background-color: red;
  border-radius: 4px;
  border: 0px;
  width: 256px;
  height: 32px;
  font-family: 'Chelsea Market', cursive;
  color: black;
  font-style: italic, bold;
}

.button_256px:hover {
  background-color: white;
}

.button_128px {
  background-color: red;
  border-radius: 4px;
  border: 0px;
  width: 128px;
  height: 32px;
  font-family: 'Chelsea Market', cursive;
  color: black;
  font-style: italic, bold;
}


.button_128px:hover {
  background-color: white;
}



/* PET SSELECTION */

#petSelection {
  height: 280px;
  display: grid;
  justify-items: center;
}  

#pet_selection_images {
  height: 256px;
  padding: 0px;
  margin: 0px;
  display: grid;
  justify-content: center;
}

.petSprite {
  margin: 16px;
  width: 96px;
  height: 96px;
}

#pet1 {
  grid-column: 1;
  grid-row: 1;
  background: url("../images/frames/96px/pet1.png") -96px 0px;
  background-color: black;
}

#pet2 {
  grid-column: 2;
  grid-row: 1;
  background: url("../images/frames/96px/pet2.png") 96px 0px;
  background-color: black;
}

#pet3 {
  grid-column: 3;
  grid-row: 1;
  background: url("../images/frames/96px/pet3.png") 96px 0px;
  background-color: black;
}

#pet4 {
  background: url("../images/frames/96px/pet4.png") -96px 0px;
  background-color: black;
}

#pet5 {
  background: url("../images/frames/96px/pet5.png") -96px 0px;
  background-color: black;
}

#pet6 {
  background: url("../images/frames/96px/pet6.png") -96px 0px;
  background-color: black;
}

#pet_info {
  margin: 32px;
  text-align: center;
  font-size: 16px;
  font-family: 'Chelsea Market', cursive;
  color: black;
}


/* PET NAMING */

#petNaming {
  display: grid;
  justify-items: center;
  height: 280px;
}

#mainPetImage {
  margin: 16px;
  border-style: solid;
  border-radius: 4px;
  width: 144px;
  height: 144px;
  background-color: black;
}

#petNameInputField {
  text-align: center;
  font-size: 20px;
  font-family: 'Chelsea Market', cursive;
  color: black;
}

/* WELCOME PET */

#welcomePetSection {
  display: grid;
  justify-items: center;
  text-align: center;
  font-size: 40px;
  font-family: 'Chelsea Market', cursive;
  color: white;
}

#welcomePetBackground {
  width: 480px;
  height: 280px;
  background-color: aqua;
}


/* GAME AREA */

#gameArea {
  display: grid;
  justify-items: center;
  padding: 0px;
  margin: 0px;
  height: 280px;
}

#gameBackground {
/*   display: grid;
  justify-content: center; */
  width: 960px;
  height: 256px;
  position: relative;

/*   background-color: black;
  background-image: url("../images/background/0.png"); */

}

#stats {
top: 16px;
left: 16px;
position: relative;
height: 100px;
width: 400px;
}

#stats * {
  font-size: 16px;
  font-family: 'Chelsea Market', cursive;
  color: black;
}

#petSprite {
  left: 432px;
  bottom: 0px;
  position: absolute;
  width: 96px;
  height: 96px;
  background: url("../images/frames/96px/pet1.png") -96px 0px;
}

#foodDisplay {
/*   display: flex;
  justify-content: space-evenly; */
  left: 0px;
  bottom: 0px;
  position: absolute;
  width: 960px;
  height: 48px;
  color: white;;
}

.foodItem {
  width: 48px;
  height: 48px;
}

#food0 {
  left: 96px;
  position: absolute;
}

#food1 {
  left: 240px;
  position: absolute;
}

#food2 {
  left: 384px;
  position: absolute;
}

#food3 {
  left: 528px;
  position: absolute;
}

#food4 {
  left: 672px;
  position: absolute;
}

#food5 {
  left: 816px;
  position: absolute;
}

#happyBirthday {
  margin: 8px;
  text-align: center;
  font-size: 24px;
  font-family: 'Chelsea Market', cursive;
  color: black;
}
